# Dependencies
node_modules/
**/node_modules/

# Environment files
.env
.env.*
backend/.env
backend/.env.*
frontend/.env
frontend/.env.*

# Project documentation markdown files
project-docs/*.md
/project-docs/*.md
